body {
    background-color: #ffffe8;
    font-family: 'gravitybold_italicl', sans-serif;
    color: #111;
}

table {
    width: 100%;
}

th {
    width: 25%;
    text-align: left;
}

td {
    text-align: left;
}

#picture {
    width: 80px;
    height: 80px;
    border: 1px solid #111;
    display: inline-block;
}

#name {
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: 20px;
    top: 7px;
}

#header {
    max-width: 50%;
    margin: 8px auto;
    background-color: #E5E5D0;
    padding: 20px;
    border: 1px solid #111;
}

#x {
    max-width: 50%;
    margin: 8px auto;
    background-color: #E5E5D0;
    padding: 20px;
    border: 1px solid #111;
}

#y {
    max-width: 50%;
    margin: 8px auto;
    background-color: #E5E5D0;
    padding:  20px;
    border: 1px solid #111;
}

#z {
    max-width: 50%;
    margin: 8px auto;
    background-color: #E5E5D0;
    padding:  20px;
    border: 1px solid #111;
}

