body {
    background-color: #e3e9e7;
    font-family: 'Varela Round', sans-serif;
    color: black;
}

#header {
    max-width: 1000px;
    margin: auto;
    background-color: #c3c9c7;
    padding: 5px;
}

#body {
    max-width: 1000px;
    margin: auto;
    background-color: #d5dbd9;
    padding: 5px;
}

#footer {
    max-width: 1000px;
    margin: auto;
    background-color: #c3c9c7;
    padding: 5px;
}

